body {
    background-color: rgb(30, 30, 30);
    color: rgb(230, 230, 230);
}

header {
    text-align: center;
    font-size: large;
    margin-bottom: 3%;
    margin-top: 2%;
}

p {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    font-size: 3vw;
    margin: 0;
}

h3 {
    color: rgb(255, 0, 80);
    margin: 0;
}

a:link {
    text-decoration: none;
    font-size: larger;
    font-size: 1.5vw;
}

li {
    font-size: 1.5vw;
}

#ex1_link, #ex1_list_item {
    color: rgb(0, 255, 0);
}

#ex1_link:hover {
    border-bottom: 1px solid rgb(0, 255, 0);
}

#ex2_link, #ex2_list_item {
    color: rgb(0, 102, 255);
}

#ex2_link:hover {
    border-bottom: 1px solid rgb(0, 102, 255);;
}

#ex3_link, #ex3_list_item {
    color: rgb(255, 0, 255);
}

#ex3_link:hover {
    border-bottom: 1px solid rgb(255, 0, 255);
}

img {
    width: 20%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-collapse: collapse;
}

td {
    padding: 5px;
    text-align: center;
    border: 1px solid white;
}

th {
    border: 1px solid white;
}

.table_desc {
    background-color: rgb(50, 50, 50);
}

.table_data {
    background-color: rgb(35, 35, 35);
}