.square {
    width: 100px;
    height: 100px;
    margin: 5px;
}

body {
    background-color: rgb(30, 30, 30);
    color: rgb(230, 230, 230);
}

#sq_container_1 {
    display: flex;
}

#sq1 {
    background-color: black;
}

#sq2 {
    background-color: grey;
}

#sq_container_2 {
    display: flex;
}

#sq3 {
    background-color: green;
}

#sq4 {
    background-color: red;
}

#sq5 {
    background-color: purple;
}