body {
    background-color: rgb(50, 50, 50);
}

#password_form {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10vh;
    padding: 10px;
    gap: 10px;
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
}

input, label {
    margin: 10px;
}

input[type=submit], input[type=text] {
    padding: 10px;
    border-color: gray;
}