header {
    font-family: stdFont;
    background-color: var(--my_gray);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 10vh;
}

.nav_bar_img {
    height: 80%;
}

.nav_bar_ul {
    list-style-type: none;
    display: flex;
    padding: 10px;
    gap: 50px;
}

.nav_bar_link {
    font-size: 1vw;
    text-decoration: none;
    padding: 10px;
}

.nav_bar_link:link, .nav_bar_link:visited {
    color: var(--my_white);
}

.nav_bar_link:hover {
    background-color: rgb(33, 33, 33);
    border-bottom: 0.2vw solid var(--my_red);
    border-radius: 0.4vw;
}

.nav_bar_link:active {
    background-color: rgb(60, 60, 60);
}
